body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin: 0 auto 20px; 
  width: fit-content; 
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff; 
  border-radius: 5px; 
  border: 2px solid #007bff;
}

.post-list {
  display: grid;
  grid-gap: 20px;
}

.post-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.read-more-link {
  color: #007bff;
  text-decoration: none;
}

.post-details-card {
  background-color: #ffffff; 
  border: 1px solid #e0e0e0; 
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  margin-bottom: 20px; 
}

.post-details-card h3 {
  font-size: 24px; 
  margin-bottom: 10px; 
}

.post-details-card p {
  color: #333333; 
  line-height: 1.6; 
}


.post-details h3 {
  font-size: 24px; 
  margin-bottom: 10px; 
}

.post-details p {
  line-height: 1.6; 
  color: #333; 
}

.comment-list {
  list-style-type: none;
  padding: 0;
}

.comment-item {
  margin-bottom: 10px;
  border: solid 1px #ccc; 
  padding: 10px; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
}

.comment-item strong {
  color: #333;
}

.comment-item p {
  color: #666; 
}

.input-title, .textarea-body {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.create-post-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none; 
  border-radius: 5px; 
}

.create-post-btn:hover {
  background-color: #0056b3; 
}
